#USE FOR DarkChess INITIAL SETTING
#Mon Dec 28 15:16:52 CST 2020
Password=123
RoomType=GENERAL
IP=120.126.151.213
SearchPath=Search\\DarkChess\\windows\\3_depth.exe
TimeLimit=900
TimerMode=ABSOLUTE
FirstMove=YES
NoEatFlip=60
BoardPath=
StartMode=OPEN
ChangeFirstMove=YES
Account=a0
PlyShare=0
ConnectMode=MGTP
OnePlyTime=0
LongCatch=3
MidBoard=NO
LocalServer=false
RepeatTime=100
