#USE FOR DarkChess INITIAL SETTING
#Tue Jan 12 14:39:57 CST 2021
LocalServer=false
Account=a235
StartMode=ENTER
ConnectMode=MGTP
RepeatTime=0
IP=120.126.151.213
ChangeFirstMove=YES
NoEatFlip=0
RoomType=GENERAL
TimerMode=NONE
OnePlyTime=0
BoardPath=
PlyShare=0
SearchPath=
MidBoard=NO
FirstMove=YES
LongCatch=0
TimeLimit=0
Password=123
