#USE FOR DarkChess INITIAL SETTING
#Mon Dec 28 15:17:18 CST 2020
Password=123
RoomType=GENERAL
IP=120.126.151.213
SearchPath=Search\\DarkChess\\windows\\3_depth.exe
TimeLimit=0
TimerMode=NONE
FirstMove=YES
NoEatFlip=0
BoardPath=
StartMode=ENTER
ChangeFirstMove=YES
Account=a1
PlyShare=0
ConnectMode=MGTP
OnePlyTime=0
LongCatch=0
MidBoard=NO
LocalServer=false
RepeatTime=0
