#USE FOR DarkChess INITIAL SETTING
#Tue Jan 12 14:40:00 CST 2021
LocalServer=false
Account=a235
StartMode=OPEN
ConnectMode=MGTP
RepeatTime=100
IP=120.126.151.213
ChangeFirstMove=YES
NoEatFlip=60
RoomType=GENERAL
TimerMode=ABSOLUTE
OnePlyTime=0
BoardPath=
PlyShare=0
SearchPath=/home/glenn/TCG/TCG2020/Chinese_Dark_Chess_v3/sample_code/NegaScout
MidBoard=NO
FirstMove=YES
LongCatch=3
TimeLimit=900
Password=123
