#USE FOR ROOM INITIAL SETTING
#Tue Jan 12 14:40:00 CST 2021
ScrollAuto=AUTO
PopWindowHeight=-1
DebugBGColor=-16777216
BoardOpenType=CLOSE
PopWindowLocaleX=-1
PopWindowWidth=-1
DebugFontColor=-1
PopWindowLocaleY=-1
FinishGameCloseHTML=NO
DebugFontSize=16
RepeatGameDelay=5
ContestAutoReady=YES
BoardDisconnectAutoRestart=NO
TimeCountDown=YES
SplitWeight=0.65
CleanLastDebug=NO
